.glyphicon.glyphicon-dot:before {
    content: "\25cf";
    font-size: 1.6em;
}

.dot-live{
    color: red;
}

.dbox{
    text-align: center;
}

.codebox{
    display: inline;
    font-size: 20px;
    padding: 5px 20px;
    border: 1px solid darkslategray;
    border-radius: 3px;
}

.livebox{
    padding: 3px 10px;
    font-size: 20px;
}


